#ABD_sidebar,
#ABD_content,
#ABD_sidebar p,
#ABD_content p {
	font-size: 14px;
	line-height: 150%;
}

#ABD_sidebar {
	font-size: .9em;

	position: absolute;
	top: 30px;
	right: 30px;

	width: 400px;

	padding-left: 30px;
	border-left: 2px solid #AAA;
}
	#ABD_sidebar div.ABD_sidebar_box,
	div.ABD_footer_box {
		margin-bottom: 25px;
		padding-bottom: 25px;

		border-top: 1px solid #AAA;
	}
	#ABD_sidebar h3 {
		font-size: 1.4em;

		text-decoration: underline;
	}
	#ABD_sidebar h4 {
		font-size: 1.2em;
	}
		#ABD_sidebar div.ABD_sidebar_box:first-of-type {
			border: 0;
		}
		#ABD_sidebar div.ABD_sidebar_box.ABD_highlight,
		div.ABD_highlight {
			background-color: #282828;
			border: 3px solid #FFAA44;

			color: #CCC;

			padding: 10px 20px;

			border-radius: 15px;

			box-shadow: 8px 10px 13px 0 #444;
		}
			#ABD_sidebar div.ABD_sidebar_box.ABD_highlight h3,
			div.ABD_highlight h3 {
				color: #EEE;
			}

			#ABD_sidebar div.ABD_sidebar_box.ABD_highlight a,
			#ABD_sidebar div.ABD_sidebar_box.ABD_highlight a:visited,
			div.ABD_highlight a,
			div.ABD_highlight a:visited {
				color: #99CCFF;
			}

		#ABD_sidebar div.ABD_sidebar_box ul {
			list-style-type: square;

			margin-left: 30px;

			line-height: normal;
		}

		#ABD_donations td {
			vertical-align: bottom;
		}

#ABD_content {
	margin-right: 450px;

	min-height: 1500px;	/*	Keeps absolutely positioned sidebar from running off the page. */
}
	#ABD_notification {

	}

	#ABD_content table.ABD_shortcode_list {
		min-width: 600px;
		max-width: 800px;

		border-collapse: collapse;

		border: 2px solid #999;
	}
		#ABD_content table.ABD_shortcode_list td,
		#ABD_content table.ABD_shortcode_list th {
			border: 1px solid #AAA;
			text-align: center;

			padding: 10px;
		}
		#ABD_content table.ABD_shortcode_list th {
			font-size: 1.1em;

			background-color: #ddd;

			border-bottom-width: 2px;
		}

	#ABD_content a.ABD_button {
		display: inline-block;
		padding: 4px 12px;

		background-color: #3399FF;

		border-radius: 5px;

		box-shadow: 2px 2px 3px 0 #444;

		color: #000;

		text-decoration: none;

		font-size: 18px;

		cursor: pointer;
	}
	#ABD_content a.ABD_button.ABD_alternate_color {
		background-color: #FA4;
	}
	#ABD_content a.ABD_button:hover {
		color: #000;

		background-color: #33CC33;
	}

	.ABD_input_form_wrapper {

	}
		.ABD_input_form_wrapper table.ABD_input_form_layout td {
			padding: 5px 20px;
		}
		.ABD_input_form_wrapper input[type=text],
		.ABD_input_form_wrapper textarea {
			border: 1px solid #333;
			border-radius: 3px;
		}

		.ABD_input_form_wrapper textarea {
			
		}

		 .ABD_input_form_wrapper span.ABD_input_form_feedback {
		 	color: #5A0000;
		 	font-style: italic;
		 }

		 .ABD_input_form_wrapper .ABD_input_form_highlight {
		 	background-color: #FFCCCC;
		 	border: 2px solid #5A0000;
		 }

	#ABD_content div.ABD_logical_block {
		margin-bottom: 25px;
		padding-bottom: 25px;

		border-bottom: 1px solid #AAA;
	}

#ABD_notification {
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 50px;

	border: 2px solid #003366;
	border-radius: 5px;

	padding: 30px 30px 30px 100px;	
}
	#ABD_notification span.ABD_notification_message {
		font-size: 1.3em;
		display: block;
	}
	#ABD_notification span.ABD_notification_supplemental {
		font-size: .8em;
		display: block;

		margin: 10px 0 0 20px;
	}
	#ABD_notification.ABD_notification_error {
		background-color: #FFCCCC;
		border-color: #5A0000;
		background-image: url(../images/notification_x.png);
		color: #5A0000;
	}
	#ABD_notification.ABD_notification_warning {
		background-color: #FFFFCC;
		border-color: #3D1F00;
		background-image: url(../images/notification_exclamation.png);
		color: #3D1F00;
	}
	#ABD_notification.ABD_notification_success {
		background-color: #CCFFCC;
		border-color: #002400;
		background-image: url(../images/notification_check.png);
		color: #002400;
	}
	#ABD_notification.ABD_notification_notice {
		background-color: #D1FFFF;
		border-color: #003366;
		background-image: url(../images/notification_exclamation_2.png);
		color: #003366;
	}


/* Responsive changes for narrow screens */
@media (max-width: 1260px) {

	/* Move sidebar below main content */
	#ABD_sidebar {
		position: relative;

		width: auto;
	}
	#ABD_content {
		margin-right: auto;
		min-height: 0;
	}
}

@media (min-width: 1700px) {
	#ABD_content {
		margin-right: 530px;
	}
	#ABD_sidebar {
		width: 500px;
	}
}